<h2>Sign up</h2>

<%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
  <% if resource.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :first_name, 
                         class: "form-control", 
                         placeholder: "First Name",
                         id: "floatingFirstName",
                         autocomplete: "given-name",
                         required: true %>
        <label for="floatingFirstName">First Name</label>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :last_name, 
                         class: "form-control", 
                         placeholder: "Last Name",
                         id: "floatingLastName",
                         autocomplete: "family-name",
                         required: true %>
        <label for="floatingLastName">Last Name</label>
      </div>
    </div>
    
    <div class="col-12">
      <div class="form-floating">
        <%= f.select :tutor,
                     [['I am a Learner', false], ['I am a Tutor', true]],
                     { prompt: 'Select your role...' },
                     { class: "form-select", 
                       id: "floatingRole",
                       required: true } %>
        <label for="floatingRole">I am a...</label>
      </div>
    </div>
    
    <div class="col-12">
      <div class="form-floating">
        <%= f.email_field :email, 
                          class: "form-control", 
                          placeholder: "name@example.com",
                          id: "floatingEmail",
                          autocomplete: "email",
                          required: true %>
        <label for="floatingEmail">Email address</label>
      </div>
    </div>
    
    <div class="col-12">
      <div class="form-floating">
        <%= f.password_field :password, 
                            class: "form-control", 
                            placeholder: "Password",
                            id: "floatingPassword",
                            autocomplete: "new-password",
                            required: true %>
        <label for="floatingPassword">Password</label>
      </div>
      <% if @minimum_password_length %>
        <div class="form-text"><%= @minimum_password_length %> characters minimum</div>
      <% end %>
    </div>
    
    <div class="col-12">
      <div class="form-floating">
        <%= f.password_field :password_confirmation, 
                            class: "form-control", 
                            placeholder: "Confirm Password",
                            id: "floatingPasswordConfirmation",
                            autocomplete: "new-password",
                            required: true %>
        <label for="floatingPasswordConfirmation">Confirm Password</label>
      </div>
    </div>
  </div>

  <div class="form-actions mt-4">
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg w-100" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>